<div class="col-lg-6 col-sm-6">
    <div class="card">
        <div class="card-body">
			<h5 class="pt-3 mb-3 text-primary text-center"><strong>Contracts Expiring Soon</strong></h5>
            <ol>
                {% for staff in expiring_soon %}
				<li>
					<a href="{% url 'staff-details' staff.staffno.staffno %}">
						{{ staff.staffno.fname }} {{ staff.staffno.lname }} (Expires on {{ staff.doe }})
					</a>
				</li>
                {% empty %}
                    <li>No contracts expiring within the next month.</li>
                {% endfor %}
            </ol>
        </div>
    </div>

	
</div>
