<div class="col-lg-3">
			<div class="card">
				<div class="card-header text-center"><strong> SOCIAL BASKET </strong></div>
				<div class="card-body">
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">Funerals</h5>
					  <ol>
                        <li><a href="#"> John Johnson's mother</a></li>
                        <li><a href="#">Grace Akpatse's Father</a></li>
                        <li><a href="#">Michael Jackson (Staff)</a></li> 
                     </ol>
					</div>
				  </div>
				  
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">Birthdays</h5>
					  <ol>
                        <li><a href="#"> Dr. Jack Toronto</a></li>
                        <li><a href="#">Prof. Kojo Kojoson</a></li>
                        <li><a href="#">Ms Anna Clerk</a></li> 
                        <li><a href="#">Mrs Dora Selwyn</a></li> 
                     </ol>
					</div>
				  </div>
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">Newly Promoted</h5>
					  <ol>
                        <li><a href="#"> Dr. Jim Janjo</a></li>
                        <li><a href="#">Mr. Kojo Korkugah</a></li>
                         
                     </ol>
					</div>
				  </div>
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">Newly Employed</h5>
					  <ol>
                        <li><a href="#"> Dr. Jack Toronto</a></li>
                        <li><a href="#">Prof. Kojo Kojoson</a></li>
                        <li><a href="#">Ms Anna Clerk</a></li> 
                        <li><a href="#">Mrs Dora Selwyn</a></li> 
                     </ol>
					</div>
				  </div>
				  <div class="card">
					<div class="card-body">
					  <h5 class="card-title">Newly Transfered</h5>
					  <ol>
                        <li><a href="#"> Dr. Jack Toronto</a></li>
                        <li><a href="#">Prof. Kojo Kojoson</a></li>
                        <li><a href="#">Ms Anna Clerk</a></li> 
                        <li><a href="#">Mrs Dora Selwyn</a></li> 
                     </ol>
					</div>
				  </div>
				</div>
			</div>
        </div>