<div class=" sidebar bg-info-light pt-4">
        <div class="card-header text-center mb-2">
          {% if staff.staff_pix %}
              <img src="{{ staff.staff_pix.url }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 200px; width: 200px; object-fit: cover;"> 
          {% else %}
              <p>No image available</p>
          {% endif %}
          {% comment %} <a href="{% url 'staff-details' staff.staffno %}">
            <img src="{{ staff.staff_pix.url }}" class="img-fluid rounded-circle" style="height: 200px; width: 200px; object-fit: cover;" />
          </a> {% endcomment %}
          <br />
            <strong>
              {{ staff.title }} {{ staff.fname }}  {{ staff.lname }} 
            </strong>
        </div>
        <ul class="sidebar-nav">

          <br/>

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'edit-staff' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Personal Information</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'edit-company-info' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Company Information</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'emp-relation' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Employee Beneficiaries</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'education' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Educational Background</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'leave-transaction' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Leave Entitlement</span>
            </a>
          </li> 
          
          
          {% comment %} <a href="{% url 'company-info' staff.staffno %}"> Company Information</a> <br />
          <a href="{% url 'staff-education' staff.staffno %}"> Education</a> <br />
          <a href="{% url 'prev-work' staff.staffno %}"> Prev. Employment</a> <br />
          <a href="{% url 'dependants' staff.staffno %}"> Dependants</a> <br />
          <a href="{% url 'res-address' staff.staffno %}"> Res. Address</a> <br />
          <a href="{% url 'post-address' staff.staffno %}"> Postal Address</a> <br />
          <a href="{% url 'staffbank' staff.staffno %}"> Bank Details</a> <br />
          <a href="{% url 'promotion' staff.staffno %}"> Job Description</a> <br />
          <a href="{% url 'transfer' staff.staffno %}"> Job Location</a> <br />
          <a href="{% url 'vehicle' staff.staffno %}"> Vehicle</a> <br />
          <a href="{% url 'bereavement' staff.staffno %}">Bereavement</a><br />
          <a href="{% url 'marriage' staff.staffno %}">Marriage</a><br />
          <a href="{% url 'christening' staff.staffno %}">Christening</a><br />
          <a href="{% url 'celebration' staff.staffno %}">Celebration</a><br />
          <a href="{% url 'bereavement' staff.staffno %}">Medical Expenses</a> {% endcomment %}
          
          <!-- <hr> -->
          {% comment %} <a href="{% url 'edit-staff' staff.staffno %}">Finish</a> {% endcomment %}
        </ul>
        <div class="">
         <a href="{% url 'allstaff' %}" class="btn btn-success">Done</a>
        </div>
        <!--End of Card-body -->
      </div>
      <!--End of Card-->