<div class=" sidebar bg-info-light pt-4">
        <div class="card-header text-center mb-2">
          <a href="{% url 'staff-details' staff.staffno %}">
            <img src="{{ staff.staff_pix.url }}" height="180" width="150"  />
          </a>
          <br />
          <strong>
            {% comment %} {{ staff.lname }}, {{ staff.title }} {{ staff.fname }} {% if staff.middlenames %} {{ staff.middlenames }} {% endif %} {% if staff.suffix %} {{ staff.suffix }} {% endif %} {% endcomment %}
            {{ staff.title }} {{ staff.fname }}  {{ staff.lname }} 
          </strong>
        </div>
        <ul class="sidebar-nav">

          <br/>

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'edit-staff' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Personal Information</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'edit-company-info' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Company Information</span>
            </a>
          </li> 

          
          {% comment %} <a href="{% url 'company-info' staff.staffno %}"> Company Information</a> <br />
          <a href="{% url 'staff-education' staff.staffno %}"> Education</a> <br />
          <a href="{% url 'prev-work' staff.staffno %}"> Prev. Employment</a> <br />
          <a href="{% url 'dependants' staff.staffno %}"> Dependants</a> <br />
          <a href="{% url 'res-address' staff.staffno %}"> Res. Address</a> <br />
          <a href="{% url 'post-address' staff.staffno %}"> Postal Address</a> <br />
          <a href="{% url 'staffbank' staff.staffno %}"> Bank Details</a> <br />
          <a href="{% url 'promotion' staff.staffno %}"> Job Description</a> <br />
          <a href="{% url 'transfer' staff.staffno %}"> Job Location</a> <br />
          <a href="{% url 'vehicle' staff.staffno %}"> Vehicle</a> <br />
          <a href="{% url 'bereavement' staff.staffno %}">Bereavement</a><br />
          <a href="{% url 'marriage' staff.staffno %}">Marriage</a><br />
          <a href="{% url 'christening' staff.staffno %}">Christening</a><br />
          <a href="{% url 'celebration' staff.staffno %}">Celebration</a><br />
          <a href="{% url 'bereavement' staff.staffno %}">Medical Expenses</a> {% endcomment %}
          
          <!-- <hr> -->
           <div class="justify-content--end">
            <a href="{% url 'allstaff' %}" class="btn btn-success">Done</a>
           </div>
          {% comment %} <a href="{% url 'edit-staff' staff.staffno %}">Finish</a> {% endcomment %}
        </ul>
        <!--End of Card-body -->
      </div>
      <!--End of Card-->