{% load group_tags %}
<div class=" sidebar bg-info-light pt-4" style="width: 300px;">
        <div class="card-header text-center mb-2">
          {% if staff.staff_pix %}
            <img src="{{ staff.staff_pix }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 110px; width: 110px; object-fit: cover;"> 
          {% else %}
            <img src="https://firebasestorage.googleapis.com/v0/b/cu-hr-caf00.firebasestorage.app/o/staff_pictures%2Ffav.png?alt=media&token=97abe448-d881-4cc1-92cc-e5f65cbb0244" alt="Avatar" style="width: 110px; height: 110px" class="img-fluid rounded-circle" />
          {% endif %}
          
          
          <br />
          <h5><b>{{ staff.title }} {{ staff.fname }} {{ staff.lname }} {{ staff.middlenames }}</b></h5>
        </div>
        <ul class="sidebar-nav">
          <li class="nav-item">
            {% nav_is_active 'edit-staff' as edit_staff_active %}
            <a class="nav-link{% if edit_staff_active %} active{% else %} collapsed{% endif %}" href="{% url 'edit-staff' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Personal Information</span>
            </a>
          </li> 

          <li class="nav-item">
            {% nav_is_active 'edit-company-info' as edit_company_info_active %}
            <a class="nav-link{% if edit_company_info_active %} active{% else %} collapsed{% endif %}" href="{% url 'edit-company-info' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Company Information</span>
            </a>
          </li> 

          <li class="nav-item">
            {% nav_is_active 'emp-relation' as emp_relation_active %}
            <a class="nav-link{% if emp_relation_active %} active{% else %} collapsed{% endif %}" href="{% url 'emp-relation' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Employee Beneficiaries</span>
            </a>
          </li> 

          <li class="nav-item">
            {% nav_is_active 'education' as education_active %}
            <a class="nav-link{% if education_active %} active{% else %} collapsed{% endif %}" href="{% url 'education' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Educational Background</span>
            </a>
          </li> 

          <li class="nav-item">
            {% nav_is_active 'leave-transaction' as leave_transaction_active %}
            <a class="nav-link{% if leave_transaction_active %} active{% else %} collapsed{% endif %}" href="{% url 'leave-transaction' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Leave History</span>
            </a>
          </li> 

          
          <li class="nav-item">
            {% nav_is_active 'medical-transaction' as medical_transaction_active %}
            <a class="nav-link{% if medical_transaction_active %} active{% else %} collapsed{% endif %}" href="{% url 'medical-transaction' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Medical History</span>
            </a>
          </li> 
          
          <li class="nav-item">
            {% nav_is_active 'renewal-history' as renewal_history_active %}
            <a class="nav-link{% if renewal_history_active %} active{% else %} collapsed{% endif %}" href="{% url 'renewal-history' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Renewal History</span>
            </a>
          </li> 
          
          <li class="nav-item">
            {% nav_is_active 'promotion-history' as promotion_history_active %}
            <a class="nav-link{% if promotion_history_active %} active{% else %} collapsed{% endif %}" href="{% url 'promotion-history' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Promotion History</span>
            </a>
          </li> 
          
          <li class="nav-item">
            {% nav_is_active 'exit-history' as exit_history_active %}
            <a class="nav-link{% if exit_history_active %} active{% else %} collapsed{% endif %}" href="{% url 'exit-history' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Exit History</span>
            </a>
          </li> 

          <li class="nav-item">
            {% nav_is_active 'upload-document' as upload_document_active %}
            <a class="nav-link{% if upload_document_active %} active{% else %} collapsed{% endif %}" href="{% url 'upload-document' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Staff Document Center</span>
            </a>
          </li>

          <li class="nav-item">
            {% nav_is_active 'create-staff-income' as create_staff_income_active %}
            <a class="nav-link{% if create_staff_income_active %} active{% else %} collapsed{% endif %}" href="{% url 'create-staff-income' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Staff Income</span>
            </a>
          </li>

          <li class="nav-item">
            {% nav_is_active 'create-staff-deduction' as create_staff_deduction_active %}
            <a class="nav-link{% if create_staff_deduction_active %} active{% else %} collapsed{% endif %}" href="{% url 'create-staff-deduction' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Staff Deduction</span>
            </a>
          </li>

          <li class="nav-item">
            {% nav_is_active 'create-staff-relief' as create_staff_relief_active %}
            <a class="nav-link{% if create_staff_relief_active %} active{% else %} collapsed{% endif %}" href="{% url 'create-staff-relief' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Staff Relief</span>
            </a>
          </li>

          <li class="nav-item">
            {% nav_is_active 'create-staff-loan' as create_staff_loan_active %}
            <a class="nav-link{% if create_staff_loan_active %} active{% else %} collapsed{% endif %}" href="{% url 'create-staff-loan' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Staff Loan</span>
            </a>
          </li>

          <li class="nav-item">
            {% nav_is_active 'payroll-details' as payroll_details_active %}
            <a class="nav-link{% if payroll_details_active %} active{% else %} collapsed{% endif %}" href="{% url 'payroll-details' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Payroll Information</span>
            </a>
          </li>

          <li class="nav-item">
            {% nav_is_active 'staff-settings' as staff_settings_active %}
            <a class="nav-link{% if staff_settings_active %} active{% else %} collapsed{% endif %}" href="{% url 'staff-settings' staff.staffno %}">
              <i class="bi bi-circle"></i>
              <span>Advance Settings</span>
            </a>
          </li>

        </ul>
        <div class="">
         <a href="{% url 'allstaff' %}" class="btn btn-success">Done</a>
        </div>
        <!--End of Card-body -->
      </div>
      <!--End of Card-->