{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="my-3 text-primary"><strong>General Leave Request</strong></h5>

            <!-- Leave Request Form -->
            <form action="" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="row g-3 mb-4">
                    <div class="col-md-4">
                        <label for="staffno" class="form-label">Staff Number</label>
                        <input type="text" class="form-control" id="staffno" name="staffno" required>
                    </div>

                    <div class="col-md-4">
                        <label for="staff_cat" class="form-label">Staff Category</label>
                        <input type="text" class="form-control" id="staff_cat" value="" readonly>
                    </div>

                    <div class="col-md-4">
                        <label for="remaining_days" class="form-label">Remaining Entitlement Days</label>
                        <input type="text" class="form-control" id="remaining_days" value="" readonly>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="academic_year">Academic Year</label>
                        <select name="academic_year" id="academic_year" class="form-select" required>
                            <option selected="true" disabled="disabled">-----Select------</option>
                            {% for year in academic_years %}
                            <option value="{{ year }}" {% if year.academic_year == leave_transaction.academic_year %} selected{% endif %} >{{ year }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="leave_type">Type of Leave</label>
                        <select name="leave_type" id="leave_type" class="form-select" required>
                            <option selected="true" disabled="disabled">----Select----</option>
                            {% for key, value in LEAVE_TYPE %}
                            <option value="{{ key }}" {% if key == leave_transaction.leave_type %} selected {% endif %}>
                                {{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label for="start_date" class="form-label">Start Date</label>
                        <input type="date" class="form-control" name="start_date" id="start_date" required>
                    </div>
                    <div class="col-md-2">
                        <label for="finish_date" class="form-label">End Date</label>
                        <input type="date" class="form-control" name="end_date" id="end_date" required>
                    </div>
                    <div class="col-md-2">
                        <label for="days_taken" class="form-label">Days Taken </label>
                        <input type="text" name="days_taken" id="days_taken" class="form-control" required>
                    </div>
                    <div class="col-md-4">
                        <label for="reason" class="form-label">Reason</label>
                        <textarea name="reason" class="form-control"></textarea>
                    </div>        
                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-info me-2">Submit</button>
                    {% comment %} <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-success">Finish</a> {% endcomment %}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    // Function to fetch staff details and update form fields
    function fetchStaffDetails(staffno) {
        if (staffno) {
            fetch(`/leave/get_staff_details/${staffno}/`)
                .then(response => response.json())
                .then(data => {
                    if (data.error) {
                        alert(data.error);
                    } else {
                        document.getElementById("staff_cat").value = data.staff_cat;
                        document.getElementById("remaining_days").value = data.remaining_days;
                        console.log(data)
                    }
                })
                .catch(error => console.log("Error fetching staff details:", error));
        }
    }

    // Event listener for staffno input
    document.getElementById("staffno").addEventListener("blur", function() {
        const staffno = this.value;
        fetchStaffDetails(staffno);
    });
</script>

{% endblock %}
