{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="GET" action="{% url 'leave-report' %}">
    <div class="row">
        <div class="col-md-4">
            <label for="filter_staffcategory">Staff Category</label>
            <select id="filter_staffcategory" name="filter_staffcategory" class="form-control">
                <option selected="true" disabled> {% if filter_staffcategory %} {{ filter_staffcategory }} {% else %} Select {% endif %}</option>
                {% for sc in staff_categories %}
                    <option value="{{ sc.category_name }}" {% if sc.category_name == filter_staffcategory %} selected {% endif %}>
                        {{ sc.category_name }}
                    </option>
                {% endfor %}
            </select>
        </div>

        <div class="col-md-4">
            <label for="academic_year">Academic Year</label>
            <select id="academic_year" name="academic_year" class="form-control">
                <option selected="true" disabled> {% if selected_academic_year %} {{ selected_academic_year }} {% else %} Select {% endif %}</option>
                {% for year in academic_years %}
                    <option value="{{ year }}" {% if year.academic_year == selected_academic_year %} selected {% endif %}>
                        {{ year.academic_year }}
                    </option>
                {% endfor %}
            </select>
        </div>
        
        <div class="col-md-4 mt-4">
            <button type="submit" class="btn btn-info">Filter</button>
            <a class="btn btn-secondary" href="{% url 'leave-report' %}">Reset</a>
            <button  onclick="window.print()" class="btn btn-outline-primary">Print</button>
        </div>
    </div>
</form>


<table class="table table-striped mt-5">
    <thead>
        <tr>
            <th>Staff Number</th>
            <th>Staff Category</th>
            <th>Year</th>
            <th>Days</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in leave_transactions %}
            <tr class="clickable-row" onclick="window.location='{% url 'leave-transaction' transaction.staffno.staffno %}'">
                <td>{{ transaction.staffno.title }} {{ transaction.staffno.fname }} {{ transaction.staffno.lname }} {{ transaction.staffno.middlenames }}</td>
                <td>{{ transaction.staff_cat }}</td>
                <td>{{ transaction.academic_year }}</td>
                <td>{{ transaction.days_taken }}</td>
                <td>{{ transaction.start_date }}</td>
                <td>{{ transaction.end_date }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="6">No leave transactions found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}