 {% extends "base.html" %} {% load static %}

{% block content %} 
        <div class="row">
            <div class="row col-4 pt-2">
                <div class="card bg-info pt-4">
                <div class="card-header text-center"><h5><strong>Add Annual Leave Entitlements</strong></h5></div>
                <div class="card-body">
                <form action="" method="POST">
            {% csrf_token %}
            <br>
            <label for="staff_rank">Staff Rank</label>
            <div class="form-control">
                <select name="staff_rank"  class="form-select" required>
                    <option value="" ></option>
                    {% for key,value in STAFFRANK %}
                        <option value="{{ key }}"
                        {% if key == staff.staff_rank %}
                            selected
                        {% endif %}
                        >{{ value }}</option>
                        {% endfor %}
                </select>
                
            </div>
         
            <div class="form-group">
              <label for="leave_entitlement" class="col-form-label">No. of Days</label>
              <input required type="number" name="leave_entitlement" class="form-control" {% if leave %} value="{{ leave.leave_entitlement }}" {% else %} value="" {% endif %}>
            </div>
            <div class="form-group">
              <label for="fin_year" class="col-form-label">Fiscal Year</label>
              <input required type="number" name="fin_year" class="form-control" {% if leave %} value="{{ leave.fin_year }}" {% else %} value="" {% endif %}>
            
              <label for="leave_description" class="col-form-label">Leave Description</label>
              <input required type="text" name="leave_description" class="form-control" {% if leave %} value="{{ leave.leave_description }}" {% else %} value="" {% endif %}>
            
            <label for="add_arrears">Add Arrears?</label>
            
                <select name="add_arrears"  class="form-select" required>
                    <option value="" ></option>
                    <option value="YES">Yes</option>
                    <option value="NO">No</option>
                </select>
                
            </div>
            
            <hr>
            <input type="submit" value="Add" class="btn btn-block btn-secondary">
                        <a class="btn btn-sm btn-primary" href="{% url 'leave' %}">Cancel</a>
          </form>
            </div> </div></div>

            <div class="row col-8 p-1">
                <div class="card pt-1 mx-3">
                    <div class="card-header text-center">Staff Leave Lists</div>
                        <div class="card-body">
                            
                                {{arrears}} <br>
                           

                            CARD BODY <br>
                            {{ staff }}<br>                     
                            {{ num_days }}<br>                     
                            {{ yr }}<br>                     
                            {{ all_leave_arrears.leave_arrears }}<br>    
                            {% if employee %}
                                {% for emp in employee %}                 
                                    {{ emp.lname }} {{ emp.staffno }}<br>   
                                   
                                {% endfor %}                             
                            {% endif %}        
                            <br>      
                            {% if leaves %}
                                {% for lv in leaves %}                 
                                    {{ lv.leave_entitlement }} {{ lv.staffno.lname }} {{ lv.leave_arrears }}<br>   
                                   
                                {% endfor %}   
                                {% else %} NO LEAVE                          
                            {% endif %}        
                            <br>      
                                                        </div>
                </div>
            </div>
    
    </div>    
             
{% endblock %}

  