{% extends "newdash.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="card-header text-center">
                <h5><strong>Add New School/Faculty</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sch_fac_name" class="col-form-label">School/Faculty</label>
                        <input type="text" name="sch_fac_name" class="form-control" {% if school %} value="{{ school.sch_fac_name }}" {% else %} value="" {% endif %} required>
                    </div>
                    
                    <hr>
                    <input type="submit" value="Add" class="btn btn-sm btn-block btn-success">
                    <a class="btn btn-sm btn-info" href="{% url 'add-school' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 p-1">
        <div class="card pt-1 mx-4">
            <div class="card-header text-center">
                <h5><strong>School/Faculty Count: {{ sch_count }}</strong></h5>
            </div>
            <div class="card-body">
                {% if schools %}
                <table class="table table-sm table-hover">
                    <tr>
                        <th>School/Faculty</th>
                        <th class="text-end">Action</th>
                    </tr>
                    {% for sch in schools %}
                    <tr>
                        <td>{{ sch.sch_fac_name }}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-info" href="{% url 'edit-school' sch.id %}"><i class="fas fa-fw fa-pen"></i></a>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete-school' sch.id %}" onclick="return confirm('Do you really want to delete the data for {{ sch.sch_fac_name }}?');"><i class="fas fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h5 class="pt-2">No School/Faculty Available.</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
