{% extends "newdash.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="card-header text-center">
                <h5><strong>Add Contribution Rate</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="employee_ssnit_rate" class="col-form-label">SSF Employee Rate</label>
                        <input type="number" name="employee_ssnit_rate" class="form-control" max="100" min="0" step="0.01" value="{{ contribution_rate.employee_ssnit_rate|default:'' }}" required>
                    </div>

                    <div class="form-group">
                        <label for="employer_ssnit_rate" class="col-form-label">SSF Employer Rate (%)</label>
                        <input type="number" name="employer_ssnit_rate" class="form-control" max="100" min="0" step="0.01" value="{{ contribution_rate.employer_ssnit_rate|default:'' }}" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="employee_pf_rate" class="col-form-label">PF Employee Rate (%)</label>
                        <input type="number" name="employee_pf_rate" class="form-control" max="100" min="0" step="0.01" value="{{ contribution_rate.employee_pf_rate|default:'' }}" required>
                    </div>

                    <div class="form-group">
                        <label for="employer_pf_rate" class="col-form-label">PF Employer Rate (%)</label>
                        <input type="number" name="employer_pf_rate" class="form-control" max="100" min="0" step="0.01" value="{{ contribution_rate.employer_pf_rate|default:'' }}" required>
                    </div>

                    <div class="form-group">
                        <label for="withholding_tax_rate" class="col-form-label">WH Tax (%)</label>
                        <input type="number" name="withholding_tax_rate" class="form-control" max="100" min="0" step="0.01" value="{{ contribution_rate.withholding_tax_rate|default:'' }}" required>
                    </div>
                    
                    <hr>
                    <input type="submit" value="Add" class="btn btn-sm btn-block btn-success">
                    <a class="btn btn-sm btn-info" href="{% url 'add-deduction-type' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 p-1">
        <div class="card pt-1 mx-4">
            <div class="card-header text-center">
                <h5><strong>Contribution Rate Count: {{ contribution_rate_count }}</strong></h5>
            </div>
            <div class="card-body">
                {% if contribution_rates %}
                <table class="table table-sm table-hover">
                    <tr>
                        <th>SSF Employee (%)</th>
                        <th>SSF Employer (%)</th>
                        <th>PF Employee (%)</th>
                        <th>PF Employer (%)</th>
                        <th>Withholding Tax (%)</th>
                        <th class="text-end">Action</th>
                    </tr>
                    {% for cr in contribution_rates %}
                    <tr>
                        <td>{{ cr.employee_ssnit_rate }}</td>
                        <td>{{ cr.employer_ssnit_rate }}</td>
                        <td>{{ cr.employee_pf_rate }}</td>
                        <td>{{ cr.employer_pf_rate }}</td>
                        <td>{{ cr.withholding_tax_rate }}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-contribution' cr.id %}"></a>
                            <a class="btn btn-sm btn-danger bi-trash" href="{% url 'delete-contribution' cr.id %}" onclick="return confirm('Do you really want to delete the data for {{ cr.name }}?');"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h5 class="pt-2">No Contribution Type Available.</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}



<script>
    function clampInput(selector) {
        document.querySelector(selector).addEventListener('input', function () {
            let val = parseFloat(this.value);
            if (val > 100) {
                alert("Value cannot exceed 100.");
                this.value = 100;
            } else if (val < 0) {
                this.value = 0;
            }
        });
    }
    
    clampInput('input[name="employee_ssnit_rate"]');
    clampInput('input[name="employer_ssnit_rate"]');
    clampInput('input[name="employee_pf_rate"]');
    clampInput('input[name="employer_pf_rate"]');
</script>
    