{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="card-header text-center">
                <h5><strong>Add New Job Title</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                
                    <div class="form-group">
                        <label for="staff_cat" class="col-form-label">Staff Category</label>
                        <select name="staff_cat" class="form-select" required> 
                          <option selected="true" disabled="disabled">--Select--</option>
                          {% if staffcategorys %}
                                {% for cat in staffcategorys %}
                                    <option value="{{ cat.category_name }}" {% if jobtitle.staff_cat == cat.category_name %} selected {% endif %}>{{ cat.category_name }}</option>
                                {% endfor %}
                            {% endif %}
                      </select>
                    </div>


                    <div class="form-group">
                        <label for="job_title" class="col-form-label">Job Title</label>
                        <input type="text" name="job_title" class="form-control" {% if jobtitle %} value="{{ jobtitle.job_title }}" {% else %} value="" {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label for="salary_level" class="col-form-label">Salary Level</label>
                        <input type="text" name="salary_level" class="form-control" {% if jobtitle %} value="{{ jobtitle.salary_level }}" {% else %} value="" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="jobtitle_notes" class="col-form-label">Job Description</label>
                        <textarea name="jobtitle_notes" class="form-control">{% if jobtitle %} {{ jobtitle.jobtitle_notes }} {% endif %}</textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Add" class="btn btn-block btn-success">
                    <a class="btn btn-sm btn-info" href="{% url 'add-jobtitle' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 p-1">
        <div class="card pt-1 mx-4 shadow-lg">
            <div class="card-header text-center">
                <h5><strong>Number of Job Titles: {{ jobtitle_count }}</strong></h5>
            </div>
            <div class="card-body">
                {% if jobtitles %}
                <table class="table table-sm table-hover">
                    <tr>
                        <th>Staff Category</th>
                        <th>Job Title</th>
                        <th>Salary Level</th>
                        <th class="text-end">Action</th>
                    </tr>
                    {% for jobtitle in jobtitles %}
                    <tr>
                      <td>{{ jobtitle.staff_cat }}</td>
                        <td>{{ jobtitle.job_title }}</td>
                        <td>{{ jobtitle.salary_level }}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-jobtitle' jobtitle.id %}"></a>
                            <a class="btn btn-sm btn-danger bi-trash" href="{% url 'delete-jobtitle' jobtitle.id %}" onclick="return confirm('Do you really want to delete the data for {{ jobtitle.job_title }}?');"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h5>Add More Job Titles</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
