{% extends "newdash.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="text-center">
                <h5><strong>Add New Department</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="sch_fac" class="col-form-label">School/Faculty</label>
                        <select name="sch_fac" class="form-control" required> 
                          <option selected="true" value="" disabled="disabled">--Select--</option>
                          {% if schools %}
                                {% for sch in schools %}
                                    <option value="{{ sch.id }}" {% if dept.sch_fac_id == sch.id %} selected {% endif %}>{{ sch.sch_fac_name }}</option>
                                {% endfor %}
                            {% endif %}
                      </select>
                    </div>
                    <div class="form-group">
                        <label for="dept_long_name" class="col-form-label">Name of Department</label>
                        <input type="text" name="dept_long_name" class="form-control" {% if dept %} value="{{ dept.dept_long_name }}" {% else %} value="" {% endif %} required>
                    </div>
                    <div class="form-group">
                        <label for="dept_short_name" class="col-form-label">Short Name Department</label>
                        <input type="text" name="dept_short_name" class="form-control" {% if dept %} value="{{ dept.dept_short_name }}" {% else %} value="" {% endif %}>
                    </div>
                    <div class="form-group">
                        <label for="dept_notes" class="col-form-label">Notes</label>
                        <textarea name="dept_notes" class="form-control">{% if dept %} {{ dept.dept_notes }} {% endif %}</textarea>
                    </div>
                    <hr>
                    <input type="submit" value="Add" class="btn btn-sm btn-block btn-success">
                    <a class="btn btn-sm btn-info" href="{% url 'add-dept' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 p-1">
        <div class="card pt-4 mx-4 shadow-lg">
            <div class="text-center">
                <h5><strong>Number of Departments: {{ dept_count }}</strong></h5>
            </div>
            <div class="card-body">
                {% if depts %}
                <table class="table table-sm table-hover">
                    <tr>
                        <th>School/Faculty</th>
                        <th>Name of Department</th>
                        {% comment %} <th>Short Name</th> {% endcomment %}
                        <th class="text-end">Action</th>
                    </tr>
                    {% for dept in depts %}
                    <tr>
                        <td>{{ dept.sch_fac }}</td>
                        <td>{{ dept.dept_long_name }}</td>
                        {% comment %} <td>{{ dept.dept_short_name }}</td> {% endcomment %}
                        <td class="text-end">
                            <a class="btn btn-sm btn-info" href="{% url 'edit-dept' dept.id %}"><i class="fas fa-fw fa-pen"></i></a>
                            <a class="btn btn-sm btn-danger" href="{% url 'delete-dept' dept.id %}" onclick="return confirm('Do you really want to delete the data for {{ dept.dept_long_name }}?');"><i class="fas fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h5>Add a Departments</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
