 {% extends "base.html" %} {% load static %}
  {% comment %} {% load humanize %}{% block title %} | {{ listing.title }} {% endblock %} {% endcomment %}
{% block content %} 
        <div class="row">
            <div class="row col-4 pt-2">
                <div class="card bg-info pt-4">
                <div class="card-header text-center"><h5><strong>Add New Job Title </strong></h5></div>
                <div class="card-body">
                <form action="" method="POST">
            {% csrf_token %}
            <label for="job_rank" class="col-form-label"> Staff Level </label> 
            <select name="job_rank" class="form-control" required>
                  <option value"">---Select Staff Level---</option>
                        {% for key,value in STAFFLEVEL.items %}
                            <option value="{{ key }}" 
                            {% if key == jobtitle.job_rank %} selected {% endif %}>
                          
                            {{ value }}</option>
                        {% endfor %}
                   
            </select>

            <div class="form-group">
              <label for="job_title" class="col-form-label">Job Title</label>
              <input type="text" name="job_title" class="form-control" {% if jobtitle %} value="{{ jobtitle.job_title }}" {% else %} value="" {% endif %} required>
            </div>
            <div class="form-group">
              <label for="salary_level" class="col-form-label">Salary Level</label>
              <input type="text" name="salary_level" class="form-control" {% if jobtitle %} value="{{ jobtitle.salary_level }}" {% else %} value="" {% endif %}>
            </div>

            <div class="form-group">
              <label for="jobtitle_notes" class="col-form-label">Notes</label>
              <textarea name="jobtitle_notes" class="form-control">{% if jobtitle %} {{ jobtitle.jobtitle_notes }}  {% endif %}</textarea>
            </div>

            <hr>
            <input type="submit" value="Add" class="btn btn-block btn-secondary">
            <a class="btn btn-sm btn-primary" href="{% url 'add-jobtitle' %}">Cancel</a>
            
          </form>
            </div> </div></div>
            <div class="row col-8 p-1">
              <div class="card pt-1 mx-4 shadow-lg">
                <div class="card-header text-center"><h5><strong>Number of Job Titles {{ jobtitle_count }}</strong></h5></div>
                <div class="card-body">
                {% if jobtitles %}
                
                <table class="table table-sm table-hover">
				<tr>
					          <th>Job Title</th>
					          <th>Staff Level</th>
                    <th>Action</th>
                    {% comment %} <th>Notes</th> {% endcomment %}
				</tr>

        {% for jobtitle in jobtitles %} 
        
            <tr>                        
                <td>{{ jobtitle.job_title }}</td>
                <td>{{ jobtitle.job_rank }}</td>
                {% comment %} <td>{{ jobtitle.rank_notes }}</td>                        {% endcomment %}
                <td><a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-jobtitle' jobtitle.id %}"></a>
                    <!-- <a class="btn btn-sm btn-info bi-trash" href="{% url 'delete-jobtitle' jobtitle.id %}" onclick="return confirm('Do you really want to delete the data for {{ jobtitle.staff_rank }}?');"></a> -->
                    <a class="btn btn-sm btn-info bi-trash" href="{% url 'delete-jobtitle' jobtitle.id %}"></a>
                </td>
            </tr>
        {% endfor %}
                   
			</table>
            {% else %}
            <h1>ADD MORE JOB TITLES</h1>
            {% endif %}
            </div>
        </div></div></div>


              

               
    {% endblock %}

  


 