{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="card-header text-center">
                <h5><strong>Add New Campus</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="campus_name" class="col-form-label">Campus</label>
                        <input type="text" name="campus_name" class="form-control" {% if camp %} value="{{ camp.campus_name }}" {% else %} value="" {% endif %} required>
                    </div>
                    
                    <hr>
                    <input type="submit" value="Add" class="btn btn-sm btn-block btn-success">
                    <a class="btn btn-sm btn-info" href="{% url 'add-campus' %}">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 p-1">
        <div class="card pt-1 mx-4">
            <div class="card-header text-center">
                <h5><strong>Campus Count: {{ campus_count }}</strong></h5>
            </div>
            <div class="card-body">
                {% if campus %}
                <table class="table table-sm table-hover">
                    <tr>
                        <th>Campus</th>
                        <th class="text-end">Action</th>
                    </tr>
                    {% for camp in campus %}
                    <tr>
                        <td>{{ camp.campus_name }}</td>
                        <td class="text-end">
                            <a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-campus' camp.id %}"></a>
                            <a class="btn btn-sm btn-danger bi-trash" href="{% url 'delete-campus' camp.id %}" onclick="return confirm('Do you really want to delete the data for {{ campus.campus_name }}?');"></a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <h5 class="pt-2">No Campus Available.</h5>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
