{% extends "newdash.html" %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-lg-4 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="card-header text-center">
                <h5><strong>{% if record %}Edit {{ model_name }}{% else %}Add {{ model_name }}{% endif %}</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST">
                    {% csrf_token %}

                   <div class="form-group">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" name="name" class="form-control"{% if form.instance.id %}value="{{ form.instance.name }}"{% else %}value=""{% endif %}required>
                    </div>
                    <hr>
                    <input type="submit" value="{% if form.instance.id %}Update{% else %}Add{% endif %}" class="btn btn-sm btn-success">
                    <a href="{{ request.path }}" class="btn btn-sm btn-secondary">Cancel</a>

                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-6 p-1">
        <div class="card pt-1 mx-4">
            <div class="card-header text-center">
                <h5><strong>{{ model_name }} Count ({{ record_count }})</strong></h5>
            </div>
            <div class="card-body">
                {% if records %}

                <table class="table table-sm table-hover">
                    <tr>
                        <th>{{ model_name }} Name</th>
                        <th class="text-end">Actions</th>
                    </tr>

                    {% for record in records %}
                        <tr>
                            <td>{{ record.name }}</td>
                            <td class="text-end">
                                <a class="btn btn-sm btn-info bi-pencil-square" href="?edit_id={{ record.id }}"></a>
                                <form method="POST" action="" style="display:inline;" onsubmit="return confirm('Do you really want to delete the data for {{ record.name }}?');">
                                    {% csrf_token %}
                                    <input type="hidden" name="delete_id" value="{{ record.id }}">
                                    <button type="submit" class="btn btn-sm btn-danger bi-trash text-end"></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {% else %}
                    <p>No records found. Add a new {{ model_name }}.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
