{% extends "base.html" %} {% load static %}
{% comment %} {% load humanize %}{% block title %} | {{ listing.title }} {% endblock %} {% endcomment %}
{% block content %} 

<div class="row col-12 p-1">
    <div class="card pt-1 mx-3">
      <div class="card-header d-flex justify-content-between align-center">
        <h5><strong>Number of Staff: {{ staff_count }}</strong></h5>

        <form method="POST" class="filter-form">
            {% csrf_token %}
            <label for="filter">Filter by Rank:</label>

            <select name="filter" id="filter" >
                <option selected="true" disabled="disabled"> {% if filter %} {{ filter }} {% else %} Select {% endif%}
                </option>
                {% for key,value in STAFFRANK %}
                    <option value="{{ key }}"
                    {% if key == staff.staff_rank %}
                        selected
                    {% endif %}
                    >{{ value }}</option>
                    {% endfor %}
            </select>
            <button type="submit" class="btn btn-success btn-sm" >Apply </button>
        </form>
        
        </div>
      <div class="card-body">
      {% if staffs %}
      
      <table class="table table-sm table-hover">
      <tr>
          <th>Name of Staff</th>
          {% comment %} <th>Short Name</th> {% endcomment %}
          {% comment %} <th>Notes</th> {% endcomment %}
          <th>Action</th>
      </tr>

      {% for staff in staffs %} 
      
          <tr>
              <td>
                  <a href="{% url 'staff-details' staff.staffno %}">
                      {{ staff.lname }}, {{ staff.title }} {{ staff.fname }} {% if staff.middlenames %} {{ staff.middlenames }} {% endif %}  {% if staff.suffix %} {{ staff.suffix }} {% endif %}
                  </a>
              </td>
              
              {% comment %} <td>{{ dept.dept_short_name }}</td> 
              {% url 'staff-details' 1 %}
              {% endcomment %}
              {% comment %} <td>{{ dept.dept_notes }}</td> {% endcomment %}
              <td>
                  <a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-staff' staff.staffno %}"></a>
                  <a class="btn btn-sm btn-danger bi-trash" href="{% url 'delete-staff' staff.staffno %}"></a>
              </td>
          </tr>

      {% endfor %}
         
  </table>
  {% else %}
  <h3>No Staff Available</h3>
  {% endif %}
  </div>
</div></div></div>    
   
{% endblock %}