{% comment %} {% extends "base2.html" %} {% endcomment %} 
{% load static %} 
{% include "partials/_topnav.html" %} 
{% comment %} {% load humanize %}{% block title %} | {{ listing.title }} {% endblock %} {% endcomment %} 
{% comment %} {% block content %} {% endcomment %}

<div class="row">
  <div class="row col-2 pt-5">
    {% include "partials/_staffdetails_sidebar.html" %} 
  </div>
  <div class="row col-10">
        <div class="row mt-5">
          
            <div class="row col-4 pt-2" style="font-size:80%">
                <div class="card bg-info pt-1 m-3">
               
                <div class="card-body">
                  <fieldset>
                    <legend>Celebration</legend>
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
            
                        <div class="form-group"> 
                            <label for="staffno" class="col-form-label">Staff Number </label>
                            <input type="text" name="staffno" class="form-control" value="{{ staff.staffno }}" readonly=True required>
                        </div>

                        <div class="form-group">
                            <label for="cel_occassion" class="col-form-label">Occassion </label>
                             <input type="text" name="cel_occassion" class="form-control" {% if celebration %} value="{{ celebration.cel_occassion }}" {% else %} value="" {% endif %} required>
                        </div>
            
                        <div class="form-group">
                            <label for="cel_location" class="col-form-label">Location </label>
                             <input type="text" name="cel_location" class="form-control" {% if celebration %} value="{{ celebration.cel_location }}" {% else %} value="" {% endif %} required>
                        </div>
                       

                          <div class="form-group">
                            <label for="cel_date" class="col-form-label">Celebration Date</label>
                             <input type="date" name="cel_date" class="form-control" {% if celebration %} value="{{ celebration.cel_date|date:"Y-m-d" }}" {% else %} value="" {% endif %} required>
                           </div>
            
                        <div class="form-group">
                         <label for="cel_time" class="col-form-label">Time </label>
                          <input type="text" name="cel_time" class="form-control" {% if celebration %} value="{{ celebration.cel_time }}" {% else %} value="" {% endif %} required>
                        </div>
        
                        <div class="form-group">
                            <label for="cel_dress_code" class="col-form-label">Dress Code </label>
                             <input type="text" name="cel_dress_code" class="form-control" {% if celebration %} value="{{ celebration.cel_dress_code }}" {% else %} value="" {% endif %}>
                        </div>       

                        <div class="form-group">
                          <label for="cel_notes" class="col-form-label">Notes</label>
                          <textarea name="cel_notes" class="form-control">{% if celebration %} {{ celebration.cel_notes }}  {% endif %}</textarea>
                        </div>
                        
                        <hr>
                        <input type="submit" value="Add" class="btn btn-block btn-secondary">
                                    <a class="btn btn-sm btn-primary" href="{% url 'celebration' staff.staffno %}">Cancel</a>
                      </form>
        </fieldset>
            </div> </div></div>
          
            
            <div class="row col-8 pt-2 mt-3">
              <div class="card pt-1 mx-4">
                <div class="card-header text-center"><h5><strong>Celebration Announcements</strong></h5></div>
                <div class="card-body">
                {% if celebration_list %}
                
                <table class="table table-sm table-hover table-responsive" style="font-size:80%">
				<tr>
					
					<th>Celebration Date</th>
                    <th>Occassion</th>
                    <th>Time</th>
                    <th>Location</th>
					<th>Action</th>
					
				</tr>

                {% for veh in celebration_list %} 
                
                    <tr>
                        
                        <td>{{ veh.cel_date }}</td>
                        <td>{{ veh.cel_occassion }}</td>
                        <td>{{ veh.cel_time }}</td>
                        <td>{{ veh.cel_location }}</td>
                        <td><a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-celebration' veh.id staff.staffno %}"></a>
                            <a class="btn btn-sm btn-info bi-trash" href="{% url 'delete-celebration' veh.id staff.staffno %}"></a>
                        </td>
                    </tr>

                {% endfor %}
                   
			</table>
            {% else %}
            <h1>Add New Celebration Announcements</h1>
            {% endif %}
            </div>

        </div></div></div>
</div>
</div>
{% include "partials/_footer.html" %}
