{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-lg-12 col-md-6 pt-2">
        <div class="card bg-white pt-4">
            <div class="card-header text-center">
                <h5><strong>Company Information</strong></h5>
            </div>
            <div class="card-body">
                <form action="" method="POST"  enctype="multipart/form-data"> 
                    {% csrf_token %}
                    <div class="card bg-info pt-2">
                        <div class="card-header text-center mx-1 rounded"><h5><strong>Company Information</strong></h5>
                            {% if staff.staff_pix %} <img src="{{ staff.staff_pix.url }}" height="180" width="150"><br> {% endif %} 
                        </div>

                        {% comment %} <div class="form-floating mt-1">
                            <input type="text" class="form-control" id="staffno" name="staffno" required
                            {% if staff %} value="{{ staff.staffno }}" readonly="true" {% else %} value="" {% endif %}>
                            <label for="staffno">Staff Number</label>
                        </div> {% endcomment %}

                        <div class="form-floating mt-1"> 
                            <input type="text" name="staffno" class="form-control" value="{{ staff.staffno }}" readonly=True required>
                            <label for="staffno" class="col-form-label">Staff Number </label>
                        </div>

                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" name="job_title" required aria-label="job_title" aria-describedby="job_title" {% if company_info %} value="{{ company_info.job_title }}" {% else %} value="" {% endif %}>
                            <label for="job_title">Job Title</label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" name="job_description" required aria-label="job_description" aria-describedby="job_description" {% if company_info %} value="{{ company_info.job_description }}" {% else %} value="" {% endif %}>
                            <label for="job_description">Job Description</label>
                        </div>
                        <div class="form-floating mt-1">
                            <select name="staff_cat" class="form-select">
                                <option selected="true" disabled="disabled"></option>
                                {% for sc in staffcategory %}
                                    <option value="{{ sc }}"
                                    {% if sc.category_name == company_info.staff_cat %}
                                        selected
                                    {% endif %}
                                    >{{ sc }}</option>
                                {% endfor %}
                            </select>
                            <label for="staff_cat">Staff Category </label>
                        </div>
                        <div class="form-floating mt-1">
                            <select name="contract" class="form-select">
                                <option selected="true" disabled="disabled"></option>
                                {% for ct in contract %}
                                    <option value="{{ ct }}"
                                    {% if ct.contract_type == company_info.contract %}
                                        selected
                                    {% endif %}
                                    >{{ ct }}</option>
                                {% endfor %}
                            </select>
                            <label for="contract">Contract Type </label>
                        </div>
                        <div class="form-floating mt-1">
                            <select name="active_status"  class="form-select">
                                <option selected="true" disabled="disabled"></option>
                                {% for key,value in STAFFSTATUS %}
                                    <option value="{{ key }}"
                                    {% if key == company_info.active_status %}
                                        selected
                                    {% endif %}
                                    >{{ value }}</option>
                                    {% endfor %}
                            </select>
                            <label for="active_status">Employee Status</label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="date" class="form-control" name="doa" required aria-label="doa" aria-describedby="doa" {% if company_info %} value="{{ company_info.doa|date:"Y-m-d" }}" {% else %} value="" {% endif %}>
                            <label for="doa">Date of Appointment </label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="date" class="form-control" name="doe" required aria-label="doe" aria-describedby="doe" {% if company_info %} value="{{ company_info.doe|date:"Y-m-d" }}" {% else %} value="" {% endif %}>
                            <label for="doe">Date of Expiration</label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="date" class="form-control" name="renewal" required aria-label="renewal" aria-describedby="renewal" {% if company_info %} value="{{ company_info.renewal }}" {% else %} value="" {% endif %}>
                            <label for="renewal">Renawal</label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" name="rank"  aria-label="rank" aria-describedby="rank" {% if company_info %} value="{{ company_info.rank }}" {% else %} value="" {% endif %}>
                            <label for="rank">Designation/Rank</label>
                        </div>
                        <div class="form-floating mt-1">
                            <select name="campus" class="form-select">
                                <option selected="true" disabled="disabled"></option>
                                {% for camp in campus %}
                                    <option value="{{ camp }}"
                                    {% if camp.campus_name == company_info.campus %}
                                        selected
                                    {% endif %}
                                    >{{ camp }}</option>
                                {% endfor %}
                            </select>
                            <label for="campus">Campus </label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" name="city"  aria-label="city" aria-describedby="city" {% if company_info %} value="{{ company_info.city }}" {% else %} value="" {% endif %}>
                            <label for="city">City</label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="email" class="form-control" name="email"  aria-label="email" aria-describedby="email" {% if company_info %} value="{{ company_info.email }}" {% else %} value="" {% endif %}>
                            <label for="email">Official Email</label>
                        </div>

                        {% comment %} Remember to fix School/Faculty or Dirctorate  {% endcomment %}

                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" name="salary"  aria-label="salary" aria-describedby="salary" {% if company_info %} value="{{ company_info.salary }}" {% else %} value="" {% endif %}>
                            <label for="salary">Salary</label>
                        </div>
                        <div class="form-floating mt-1">
                            <select name="cost_center"  class="form-select" required>
                                <option selected="true" disabled="disabled"></option>
                                {% for dept in department %}
                                    <option value="{{ dept }}"
                                    {% if dept.dept_short_name == company_info.cost_center %}
                                        selected
                                    {% endif %}
                                    >{{ dept }}</option>
                                {% endfor %}

                            </select>
                            <label for="cost_center">Cost Center</label>
                        </div>

                        <h5>Bank Information</h5>


                        <div class="form-floating mt-1">
                            <select name="bank_name"  class="form-select" required>
                                <option selected="true" disabled="disabled"></option>
                                {% for bn in bank_list %}
                                    <option value="{{ bn }}"
                                    {% if bn.bank_short_name == company_info.bank_name %}
                                        selected
                                    {% endif %}
                                    >{{ bn }}</option>
                                {% endfor %}

                            </select>
                            <label for="bank_name">Bank Name</label>
                        </div>
                        <div class="form-floating mt-1">
                            <input type="text" class="form-control" name="accno"  aria-label="accno" aria-describedby="accno" {% if company_info %} value="{{ company_info.accno }}" {% else %} value="" {% endif %}>
                            <label for="accno">Account Number</label>
                        </div>
                        <div class="form-floating mt-1">
                            <select name="bank_branch"  class="form-select" required>
                                <option selected="true" disabled="disabled"></option>
                                {% for bb in bank_branches %}
                                    <option value="{{ bb }}"
                                    {% if bb.branch_name == company_info.bank_branch %}
                                        selected
                                    {% endif %}
                                    >{{ bb }}</option>
                                {% endfor %}

                            </select>
                            <label for="bank_branch">Bank Branch</label>
                        </div>

                        <p>{{company_info.staffno}}</p>

                        <hr>
                            <input type="submit" value="Add" class="btn btn-block btn-secondary">
                            <a class="btn btn-sm btn-primary" href="{% url 'company-info' staff.staffno %}">Cancel</a>
                            
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
