{% comment %} {% extends "base.html" %} {% endcomment %}
{% include "partials/_topnav.html" %} 
{% load static %}

{% if messages %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
          <div class="toast-header text-white bg-{{ message.tags }}">
            <strong class="me-auto">{{ message.tags|title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-white">
            {{ message }}
          </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col-md-3 mt-4">
        {% include "partials/_staffdetails_sidebar.html" %} 
    </div>

    <div class="col-md-8">
        <div class="mt-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="mb-3 text-primary"><strong>Educational Background for {{ staff.title }} {{ staff.fname }} {{ staff.lname }} ({{ staff.staffno }})</strong></h5>
                        {% if staff.staff_pix %}
                            <img src="{{ staff.staff_pix }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 110px; width: 110px; object-fit: cover;"> 
                        {% else %}
                            <img src="https://firebasestorage.googleapis.com/v0/b/cu-hr-caf00.firebasestorage.app/o/staff_pictures%2Ffav.png?alt=media&token=97abe448-d881-4cc1-92cc-e5f65cbb0244" alt="Avatar" style="width: 110px; height: 110px" class="img-fluid rounded-circle" />
                        {% endif %}
                    </div>

                    <h6><b> Highest Education Background</b></h6>
                    <div class="mb-1">
                        <div class="row">
                            <div class="mb-4">
                                {% if staff %}
                                    <p class="mb-0"><b>{{ staff.heq }} in {{ staff.study_area }}  </b></p>
                                    <p class="mb-0">Completed {{ staff.institution }} in {{ staff.completion_year }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    
                    <h6><b> Other Education Background</b></h6>
                    <div class="mb-4">
                        {% if educations %}
                        <div style="height: 200px; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead class="table-light sticky-top">
                                    <tr>
                                        <th>Qual</th>
                                        <th>Study</th>
                                        <th>Duration</th>
                                        <th>Institution</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for edu in educations %}
                                    <tr>
                                        <td><b>{{ edu.certification }}</b></td>
                                        <td>{{ edu.prog_studied }}</td>
                                        <td>{{ edu.start_date }} - {{ edu.finish_date }}</td>
                                        <td>{{ edu.school_code }}</td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="btn btn-sm btn-info bi-pencil-square me-2" href="{% url 'edit-education' edu.id staff.staffno %}"></a>
                                                <a class="btn btn-sm btn-danger bi-trash" href="{% url 'delete-education' edu.id staff.staffno %}" onclick="return confirm('Do you really want to delete the data for {{ edu.prog_studied }}?');"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <p>No Education Background added yet.</p>
                        {% endif %}
                    </div>

                
                    <br/>


                    <h6><b>Add New Education Background </b></h6>
                    <form action="" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="row g-3 mb-4">
                            {% comment %} <div class="col-md-4">
                                <label for="staffno" class="form-label">Staff Number</label>
                            </div> {% endcomment %}
                            <input type="text" class="form-control" id="staffno" name="staffno" value="{{ staff.staffno }}" readonly hidden>

                            <div class="col-md-4">
                                <label class="form-label" for="certification">Educational Qualification</label>
                                <select name="certification" id="certification" class="form-select" required>
                                    <option selected="true" disabled="disabled">-----Select------</option>
                                    {% for qual in qualification %}
                                    <option value="{{ qual }}"
                                    {% if qual.qual_abbr == education.certification %}
                                    selected
                                    {% endif %}
                                    >{{ qual }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="prog_studied" class="form-label">Area of study </label>
                                <input type="text" name="prog_studied" class="form-control" {% if education %} value="{{ education.prog_studied }}" {% else %} value="" {% endif %} required>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="start_date" class="form-label">Start Date</label>
                                <input type="date" class="form-control" name="start_date" {% if education %} value="{{ education.start_date|date:"Y-m-d" }}" {% else %} value="" {% endif %} required>
                            </div>
                            <div class="col-md-4">
                                <label for="finish_date" class="form-label">End Date</label>
                                <input type="date" class="form-control" name="finish_date" {% if education %} value="{{ education.finish_date|date:"Y-m-d" }}" {% else %} value="" {% endif %} required>
                            </div>
                            
                            <div class="col-md-4">
                                <label for="school_code" class="form-label">Institution of Study </label>
                                <input type="text" name="school_code" class="form-control" {% if education %} value="{{ education.school_code }}" {% else %} value="" {% endif %} required>
                            </div>
                        </div>

                    
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-secondary  me-2">Finish</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



{% comment %} {% endblock %} {% endcomment %}
