{% comment %} {% extends "base.html" %} {% endcomment %}
{% include "partials/_topnav.html" %} 
{% load static %}

{% if messages %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
          <div class="toast-header text-white bg-{{ message.tags }}">
            <strong class="me-auto">{{ message.tags|title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-white">
            {{ message }}
          </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col-md-3 mt-4">
        {% include "partials/_staffdetails_sidebar.html" %} 
    </div>

    <div class="col-md-8">
        <div class="mt-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="mb-3 text-primary"><strong>Relations/Beneficiaries for {{ staff.title }} {{ staff.fname }} {{ staff.lname }} ({{ staff.staffno }})</strong></h5>
    
                        {% if staff.staff_pix %}
                            <img src="{{ staff.staff_pix }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 110px; width: 110px; object-fit: cover;"> 
                        {% else %}
                            <img src="https://firebasestorage.googleapis.com/v0/b/cu-hr-caf00.firebasestorage.app/o/staff_pictures%2Ffav.png?alt=media&token=97abe448-d881-4cc1-92cc-e5f65cbb0244" alt="Avatar" style="width: 110px; height: 110px" class="img-fluid rounded-circle" />
                        {% endif %}
                    </div>
                    
                    <h6><b> Existing Beneficiaries {{emp_count}}</b></h6>

                    <div class="mb-4">
                        {% if emp_relations %}
                        <div style="height: 300px; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead class="table-light sticky-top">
                                    <tr>
                                        <th>Name</th>
                                        <th>Gender</th>
                                        <th>Phone</th>
                                        <th>Relationship</th>
                                        <th>Next of Kin</th>
                                        <th>Beneficiary</th>
                                        <th>Per (%)</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for emp in emp_relations %}
                                    <tr>
                                        <td><b>{{ emp.kith_fname }} {{ emp.kith_lname }}</b></td>
                                        <td>{{ emp.kith_gender }}</td>
                                        <td>{{ emp.phone|default:"-" }}</td>
                                        <td>{{ emp.kith_relationship }}</td>
                                        <td>
                                            {% if emp.kin %}
                                                <span class="badge bg-success">Yes</span>
                                            {% else %}
                                                <span class="badge bg-secondary">No</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if emp.ben %}
                                                <span class="badge bg-success">Yes</span>
                                            {% else %}
                                                <span class="badge bg-secondary">No</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if emp.ben %}
                                                {{ emp.percentage }}%
                                            {% else %}
                                                -
                                            {% endif %}
                                        </td>
                                        <td>
                                            <div class="d-flex">
                                                <a class="btn btn-sm btn-info bi-pencil-square me-2" href="{% url 'edit-emp-relation' emp.id staff.staffno %}"></a>
                                                <a class="btn btn-sm btn-danger bi-trash" href="{% url 'delete-emp-relation' emp.id staff.staffno %}" onclick="return confirm('Do you really want to delete the data for {{ emp.kith_fname }}?');"></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <p>No beneficiaries found.</p>
                        {% endif %}
                    </div>
                    
                    
                    <br/>


                    <h6><b>Add New Beneficiary</b></h6>
                    <form action="" method="POST" enctype="multipart/form-data" onsubmit="return validatePercentage();"> 
                        {% csrf_token %}
                        <div class="row g-3 mb-4">
                            {% comment %} <div class="col-md-4">
                                <label for="staffno" class="form-label">Staff Number</label>
                            </div> {% endcomment %}
                            <input type="text" class="form-control" id="staffno" name="staffno" value="{{ staff.staffno }}" readonly hidden>

                            <div class="col-md-4">
                                <label for="kith_lname" class="form-label">Surname</label>
                                <input type="text" name="kith_lname" class="form-control" {% if emp_relation %} value="{{ emp_relation.kith_lname }}" {% else %} value="" {% endif %} required>
                            </div>
                            <div class="col-md-4">
                                <label for="kith_fname" class="form-label">First Name</label>
                                <input type="text" class="form-control" name="kith_fname" {% if emp_relation %} value="{{ emp_relation.kith_fname }}" {% else %} value="" {% endif %} required>
                            </div>
                            <div class="col-md-4">
                                <label for="kith_middlenames" class="form-label">Middle Name</label>
                                <input type="text" class="form-control" name="kith_middlenames" {% if emp_relation %} value="{{ emp_relation.kith_middlenames }}" {% else %} value="" {% endif %}>
                            </div>
                            <div class="col-md-4">
                                <label for="kith_gender" class="form-label">Gender</label>
                                <select name="kith_gender" class="form-select" required>
                                    <option value="" disabled selected>Select</option>
                                    {% for key, value in GENDER %}
                                    <option value="{{ key }}" {% if key == emp_relation.kith_gender %} selected {% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="kith_relationship" class="form-label">Relationship</label>
                                <select name="kith_relationship" class="form-select" required>
                                    <option value="" disabled selected>Select Relationship Type</option>
                                    {% for key, value in RELATIONSHIP %}
                                    <option value="{{ key }}" {% if key == emp_relation.kith_relationship %} selected {% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="kith_dob" class="form-label">Date of Birth</label>
                                <input type="date" class="form-control" name="kith_dob" {% if emp_relation %} value="{{ emp_relation.kith_dob|date:"Y-m-d" }}" {% else %} value="" {% endif %} >
                            </div>
                            <div class="col-md-4">
                                <label for="phone" class="form-label">Phone Number</label>
                                <input type="text" class="form-control" name="phone" {% if emp_relation %} value="{{ emp_relation.phone }}" {% else %} value="" {% endif %} >
                            </div>
                            <div class="col-md-4">
                                <label for="residential" class="form-label">Residential Address</label>
                                <input type="text" class="form-control" name="residential" {% if emp_relation %} value="{{ emp_relation.residential }}" {% else %} value="" {% endif %}>
                            </div>
                            <div class="col-md-4">
                                <label for="status" class="form-label">Status</label>
                                <select name="status" class="form-select">
                                    <option value="" disabled selected>Select Relationship Status</option>
                                    {% for key, value in STATUS %}
                                    <option value="{{ key }}" {% if key == emp_relation.status %} selected {% endif %}>{{ value }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2">
                                <label for="kin" class="form-check-label">Next of Kin</label>
                                <input type="checkbox" class="form-check-input" role="switch" id="kin" name="kin" value="TRUE" {% if emp_relation.kin %} checked {% endif %}>
                            </div>
                            <div class="col-md-2">
                                <label for="ben" class="form-check-label">Beneficiary</label>
                                <input type="checkbox" class="form-check-input" role="switch" id="ben" name="ben" value="TRUE" {% if emp_relation.ben %} checked {% endif %}>
                            </div>
                            <div class="col-md-4">
                                <label for="percentage" class="form-label">Percentage</label>
                                <input type="number" class="form-control" id="percentage" name="percentage" min="0" max="100" step="0.01" {% if emp_relation.percentage %} value="{{ emp_relation.percentage }}" {% else %} value="0" {% endif %}>
                            </div>
                        
                        </div>

                    
                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-secondary  me-2">Finish</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% comment %} {% endblock %} {% endcomment %}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        let benCheckbox = document.getElementById("ben");
        let percentageInput = document.getElementById("percentage");
        let percentageDiv = percentageInput.parentElement;
        
        // Initially hide percentage if beneficiary not checked
        percentageDiv.style.display = benCheckbox.checked ? "block" : "none";
        
        // Toggle percentage field visibility
        benCheckbox.addEventListener("change", function() {
            percentageDiv.style.display = this.checked ? "block" : "none";
            percentageInput.required = this.checked;
            if (!this.checked) {
                percentageInput.value = "0";
            }
        });

        // Calculate remaining percentage
        let totalPercentage = {{ total_percentage }};
        let remainingPercentage = 100 - totalPercentage;
        
        // Set max attribute for percentage input
        percentageInput.max = remainingPercentage;

        // Validation before form submission
        window.validatePercentage = function() {
            if (!benCheckbox.checked) return true;
            
            let percentage = parseInt(percentageInput.value);
            if (percentage > remainingPercentage) {
                alert(`The percentage exceeds the remaining ${remainingPercentage}%.`);
                return false;
            }
            return true;
        };
    });
</script>
