{% extends "base.html" %} 
{% load static %}
{% block content %}


<div class="container mt-5">
    {% if messages %}
        <div class="toast-container position-fixed bottom-0 end-0 p-3">
            {% for message in messages %}
            <div id="toast{{ forloop.counter }}" class="toast show bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
                <div class="toast-header text-white bg-{{ message.tags }}">
                    <strong class="me-auto">{{ message.tags|title }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body text-white">
                    {{ message }}
                </div>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="row mb-4">
                <div class="">
                    <h4 class="mb-3 fw-bold">📅 Process Payroll Register</h4>
                    <form method="get" id="payrollForm">
                        <div class="col-5">
                            <div class="input-group">
                                <label class="input-group-text" for="month">Select Month:</label>
                                <input class="form-control" type="date" name="month" id="month" value="{{ selected_month|default:'' }}" required>
                                <button type="submit" class="btn btn-success" id="processBtn">
                                    <span id="btnText">Process Register</span>
                                    <span id="spinner" class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        <hr class="my-4">
                        <h5>Other Filters</h5>

                        <div class="row mb-2">
                            <div class="col-md-4">           
                                <div class="input-group mb-2">
                                    <label for="staff_cat" class="input-group-text">Categories:</label>
                                    <select class="form-control"id="staff_cat" name="staff_cat">
                                        <option value="" disabled selected>N/A</option>
                                        {% for sc in staff_categories %}
                                            <option value="{{ sc.category_name }}" {% if sc.category_name == selected_staff_cat %}selected{% endif %}>
                                                {{ sc.category_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">           
                                <div class="input-group mb-2">
                                    <label for="school" class="input-group-text">School:</label>
                                    <select class="form-control"id="school" name="school">
                                        <option value="" disabled selected>N/A</option>
                                        {% for ss in schools %}
                                            <option value="{{ ss.sch_fac_name }}" {% if ss.sch_fac_name == selected_school %}selected{% endif %}>
                                                {{ ss.sch_fac_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-4">           
                                <div class="input-group mb-2">
                                    <label for="department" class="input-group-text">Department:</label>
                                    <select class="form-control"id="department" name="department">
                                        <option value="" disabled selected>N/A</option>
                                        {% for dept in departments %}
                                            <option value="{{ dept.dept_long_name }}" {% if dept.dept_long_name == selected_department %}selected{% endif %}>
                                                {{ dept.dept_long_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">           
                                <div class="input-group mb-2">
                                    <label for="directorate" class="input-group-text">Directorate:</label>
                                    <select class="form-control"id="directorate" name="directorate">
                                        <option value="" disabled selected>N/A</option>
                                        {% for dt in directorate %}
                                            <option value="{{ dt.direct_name }}" {% if dt.direct_name == selected_directorate %}selected{% endif %}>
                                                {{ dt.direct_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">           
                                <div class="input-group mb-2">
                                    <label for="bank" class="input-group-text">Bank:</label>
                                    <select class="form-control"id="bank" name="bank">
                                        <option value="" disabled selected>N/A</option>
                                        {% for bk in banks %}
                                            <option value="{{ bk.bank_short_name }}" {% if bk.bank_short_name == selected_bank %}selected{% endif %}>
                                                {{ bk.bank_short_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-4">           
                                <div class="input-group mb-2">
                                    <label for="campus" class="input-group-text">Campus:</label>
                                    <select class="form-control"id="campus" name="campus">
                                        <option value="" disabled selected>N/A</option>
                                        {% for cp in campus %}
                                            <option value="{{ cp.campus_name }}" {% if cp.campus_name == selected_campus %}selected{% endif %}>
                                                {{ cp.campus_name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


            <div class="row mb-4 mt-5">
                <div class="row mb-4 align-items-end justify-content-between">
                    <div class="col-md-7 text-start">
                        <h4 class="text-start fw-bold">Payroll Register</h4>
                        {% if selected_month %}<h6>For the month of {{ selected_month }}</h6>{% endif %}
                    </div>

                    <div class="col-md-3">
                        {% if payrolls %}
                        <form method="get" id="exportForm" class="d-flex align-items-center gap-2">
                            <label for="format" class="form-label mb-0">Export</label>
                            <select name="format" id="format" class="form-select form-select-sm" style="width: auto;">
                                <option value="">Select format</option>
                                <option value="pdf">PDF</option>
                                <option value="excel">Excel</option>
                            </select>
                            <button type="submit" class="btn btn-sm btn-success">Download</button>
                        </form>
                        {% endif %}
                    </div>
                </div>

                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Basic Salary</th>
                            <th>Allowances</th>
                            <th>Gross Salary</th>
                            <th>Income Tax</th>
                            <th>Deductions</th>
                            <th>SSF Employee</th>
                            <th>PF Employee</th>
                            <th>PF Employeer</th>
                            <th>Total Deduction</th>
                            <th>Net Pay</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if payrolls %}
                    {% for payroll_data in payrolls %}
                        <tr>
                            <td>{{ payroll_data.staff.staffno }}</td>
                            <td>{{ payroll_data.staff.fname }} {{ payroll_data.staff.lname }} {{ payroll_data.staff.middlenames }}</td>
                            <td>{{ payroll_data.basic_salary }}</td>
                            <td>{{ payroll_data.total_income }}</td>
                            <td>{{ payroll_data.gross_salary }}</td>
                            <td>{{ payroll_data.income_tax.tax }}</td>
                            <td>{{ payroll_data.deductions }}</td>
                            <td>{{ payroll_data.ssf_employee.amount }}</td>
                            <td>{{ payroll_data.pf_employee.amount }}</td>
                            <td>{{ payroll_data.employer_pf }}</td>
                            <td>{{ payroll_data.total_deduction }}</td>
                            <td>{{ payroll_data.net_salary }}</td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5" class="text-center">No payroll records found.</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>  


<script>
    document.getElementById('payrollForm').addEventListener('submit', function() {
        const btn = document.getElementById('processBtn');
        const spinner = document.getElementById('spinner');
        const btnText = document.getElementById('btnText');
        
        btn.disabled = true;
        spinner.classList.remove('d-none');
        btnText.textContent = 'Processing...';
    });
</script>

{% endblock %}