{% extends "base.html" %} 
{% load static %}
{% block content %}


<div class="container mt-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mt-3">
                <h5 class="my-3 text-primary"><strong>Renewal History for {{ staff.title }} {{ staff.fname }} {{ staff.lname }} ({{ staff.staffno }})</strong></h5>
                {% if staff.staff_pix %}
                <img src="{{ staff.staff_pix.url }}" class="img-fluid rounded-circle" alt="Staff Picture" style="width: 100px; height: 100px; border-radius: 50%;">
                {% endif %}
            </div>
            
            <h5><b>Existing Renewals {{renewal_count}}</b></h5>

            <div class="mb-4">
                {% if renewal_list %}
                <div class="row">
                    {% for renewal in renewal_list %}
                    <div class="col-6 col-md-4 mb-2">
                        <div class="card p-3">
                            <div class="w-100 d-flex justify-content-between align-items-start mb-1">
                                <div class="flex-grow-1 me-2">
                                    <h6 class="mb-0"><b>{{ renewal.staff_category }}</b></h6>
                                    <p class="mb-0">{{ renewal.renewal_date }}</p>
                                    <p class="mb-0">{{ renewal.job_title }}</p>
                                </div>
                                
                                <!-- Display approval status -->
                                <div class="ms-2">
                                    {% if renewal.is_approved %}
                                        <span class="badge bg-success">Approved</span>
                                    {% else %}
                                        <span class="badge bg-warning">Pending</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>No renewal history found.</p>
                {% endif %}
            </div>
            <br/>

            <!-- Renewal Request Form -->
            <h5><b>Renewal Request</b></h5>
            <form action="" method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                <div class="row g-3 mb-4">
                    <input type="text" class="form-control" id="staffno" name="staffno" value="{{ staff.staffno }}" readonly hidden>

                    <div class="col-md-4">
                        <label class="form-label">Prev. Staff Category</label>
                        <input type="text" class="form-control" value="{{ company_info.staff_cat }}" readonly >
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Prev. Jobb Title</label>
                        <input type="text" class="form-control" value="{{ company_info.job_title }}" readonly >
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="staff_category">New Staff Category</label>
                        <select name="staff_category" id="staff_category" class="form-select" required>
                            <option selected="true" disabled="disabled">-----Select------</option>
                            {% for sc in staffcategory %}
                                <option value="{{ sc }}" {% if sc.category_name == renewal_list.staff_category %} selected{% endif %} >{{ sc }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label" for="job_title">New Job Title</label>
                        <select name="job_title" id="job_title" class="form-select" required>
                            <option selected="true" disabled="disabled">-----Select------</option>
                            {% for jt in jobtitle %}
                                <option value="{{ jt }}" {% if jt.job_title == renewal_list.job_title %} selected{% endif %} >{{ jt }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-md-4">
                        <label for="renewal_date" class="form-label">Renewal Date</label>
                        <input type="date" class="form-control" name="renewal_date" {% if renewal_list %} value="{{ renewal_list.renewal_date|date:"Y-m-d" }}" {% else %} value="" {% endif %} required>
                    </div>

                    

                </div>

                <div class="d-flex justify-content-end mt-4">
                    <button type="submit" class="btn btn-info me-2">Add</button>
                    <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-success">Finish</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}