{% comment %} {% extends "base.html" %}  {% endcomment %}
{% include "partials/_topnav.html" %} 
{% load static %}

{% if messages %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
          <div class="toast-header text-white bg-{{ message.tags }}">
            <strong class="me-auto">{{ message.tags|title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-white">
            {{ message }}
          </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="row">
    <div class="col-md-3 mt-4">
        {% include "partials/_staffdetails_sidebar.html" %} 
    </div>

    <div class="col-md-8">
        <div class="container mt-5">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="my-3 text-primary"><strong>Renewal History for {{ staff.title }} {{ staff.fname }} {{ staff.lname }} ({{ staff.staffno }})</strong></h5>
                        
                        {% if staff.staff_pix %}
                            <img src="{{ staff.staff_pix }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 110px; width: 110px; object-fit: cover;"> 
                        {% else %}
                            <img src="https://firebasestorage.googleapis.com/v0/b/cu-hr-caf00.firebasestorage.app/o/staff_pictures%2Ffav.png?alt=media&token=97abe448-d881-4cc1-92cc-e5f65cbb0244" alt="Avatar" style="width: 110px; height: 110px" class="img-fluid rounded-circle" />
                        {% endif %}
                    </div>
                    
                    <h5><b>Existing Renewals {{renewal_count}}</b></h5>

                    <div class="mb-4">
                        {% if renewal_list %}
                        <div style="height: 300px; overflow-y: auto;">
                            <table class="table table-hover">
                                <thead class="table-light sticky-top">
                                    <tr>
                                        <th>Staff Category</th>
                                        <th>Job Title</th>
                                        <th>Position</th>
                                        <th>Duration</th>
                                        <th>Approved By</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for renewal in renewal_list %}
                                    <tr>
                                        <td><b>{{ renewal.new_staff_category }}</b></td>
                                        <td>{{ renewal.new_job_title }}</td>
                                        <td>{{ renewal.new_position|default:"-" }}</td>
                                        <td>{{ renewal.effective_date }} - {{ renewal.end_date }}</td>
                                        <td>{{ renewal.approved_by.username }}</td>
                                        <td>
                                            {% if renewal.is_approved %}
                                                <span class="badge bg-success">Approved</span>
                                            {% elif renewal.is_disapproved %}
                                                <span class="badge bg-danger">Declined</span>
                                            {% else %}
                                                <span class="badge bg-warning">Pending</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% else %}
                            <p>No renewal history found.</p>
                        {% endif %}
                    </div>

                    <br/>

                    <!-- Renewal Request Form -->
                    <h5><b>Renewal Request</b></h5>
                    <form action="" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="row g-3 mb-4">
                            <input type="text" class="form-control" id="staffno" name="staffno" value="{{ staff.staffno }}" readonly hidden>

                            <div class="col-md-4">
                                <label for="prev_staff_category" class="form-label">Prev. Staff Category</label>
                                <input type="text" name="prev_staff_category" class="form-control" value="{{ company_info.staff_cat }}" readonly >
                            </div>

                            <div class="col-md-4">
                                <label for="prev_job_title" class="form-label">Prev. Job Title</label>
                                <input type="text" name="prev_job_title" class="form-control" value="{{ company_info.job_title }}" readonly >
                            </div>

                            <div class="col-md-4">
                                <label for="prev_position" class="form-label">Prev. Position</label>
                                <input type="text" name="prev_position" class="form-control" value="{{ company_info.rank }}" readonly >
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="new_staff_category">New Staff Category</label>
                                <select name="new_staff_category" id="new_staff_category" class="form-select" required>
                                    <option selected="true" disabled="disabled">-----Select------</option>
                                    {% for sc in staffcategory %}
                                        <option value="{{ sc }}" {% if sc.category_name == renewal_list.new_staff_category %} selected{% endif %} >{{ sc }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="new_job_title">New Job Title</label>
                                <select name="new_job_title" id="new_job_title" class="form-select" required>
                                    <option selected="true" disabled="disabled">-----Select------</option>
                                    {% for jt in jobtitle %}
                                        <option value="{{ jt }}" {% if jt.job_title == renewal_list.new_job_title %} selected{% endif %} >{{ jt }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label" for="new_position">New Position</label>
                                <input type="text" name="new_position" class="form-control" value="{{ renewal_list.new_position }}" >
                            </div>

                            <div class="col-md-4">
                                <label for="effective_date" class="form-label">Effective Date</label>
                                <input type="date" class="form-control" name="effective_date" {% if renewal_list %} value="{{ renewal_list.effective_date|date:"Y-m-d" }}" {% else %} value="" {% endif %} required>
                            </div>

                            <div class="col-md-4">
                                <label for="end_date" class="form-label">End Date</label>
                                <input type="date" class="form-control" name="end_date" {% if renewal_list %} value="{{ renewal_list.end_date|date:"Y-m-d" }}" {% else %} value="" {% endif %} required>
                            </div>

                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-secondary  me-2">Finish</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% comment %} {% endblock %} {% endcomment %}