{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <!-- Results Table -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header ">
                    <h4 class="mb-0">Search Results ({{ staff_count }})</h4>
                </div>
                <div class="card-body">
                    {% if staffs %}
                        <table class="table table-hover">
                            <thead class="table-primary">
                                <tr>
                                    <th>Staff No</th>
                                    <th>Name</th>
                                    <th>School/Directorate</th>
                                    <th>Job Title</th>
                                    <th>Staff Category</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for staff in staffs  %}
                                    <tr class="clickable-row"  onclick="window.location='{% url 'staff-details' staff.staffno %}'" >
                                        <td>{{ staff.staffno }}</td>
                                        <td>{{ staff.title }} {{ staff.fname }} {{ staff.lname }}</td>
                                        {% for company_data in company_info %}
                                            {% if staff.staffno == company_data.staffno_id %}
                                            {% if company_data.sch_fac_dir_id %}
                                                <td>{{ company_data.sch_fac_dir_id }}</td>
                                            {% elif company_data.directorate_id %}
                                                <td>{{ company_data.directorate_id }}</td>
                                            {% endif %}
                                            <td>{{ company_data.job_title }}</td>
                                            <td>{{ company_data.staff_cat }}</td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">No staff found.</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p class="text-center">No results to display.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
