{% load static %} 
{% include "partials/_topnav.html" %} 


  {% if messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% for message in messages %}
        <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
              <div class="toast-header text-white bg-{{ message.tags }}">
                <strong class="me-auto">{{ message.tags|title }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body text-white">
                {{ message }}
              </div>
        </div>
        {% endfor %}
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-3 mt-5">
      {% include "partials/_staffdetails_sidebar.html" %} 
    </div>
  
    <div class="col-md-8">
      <div class="card pt-3 mt-5 p-4">
        <div class="card-header mb-2 d-flex justify-content-between text-black ">
          <h5><strong>General Overview for {{ staff.title }} {{ staff.fname }}  {{ staff.lname }} </strong></h5>
          <button  onclick="window.print()" class="btn btn-outline-primary">Print</button>
        </div>
        <div class="card-body">
          <div class="row mb-3">
              <div class="col-md-6 mb-3">
                  <strong>Staff Number:</strong>
                  <p class="text-muted">{{ staff.staffno }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Gender:</strong>
                  <p class="text-muted">{{ staff.gender }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Home Town:</strong>
                  <p class="text-muted">{{ staff.home_town }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Region:</strong>
                  <p class="text-muted">{{ staff.region }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Date of Birth:</strong>
                  <p class="text-muted">{{ staff.dob }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Date of Appointment:</strong>
                  <p class="text-muted">{{ company_info.doa }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Date of Expiration:</strong>
                  <p class="text-muted">{{ company_info.doe }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Highest Educational Qualification:</strong>
                  <p class="text-muted">{{ staff.heq }} in {{ staff.study_area }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Highest Professional Qualification:</strong>
                  <p class="text-muted">{{ staff.hpq }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Job Title:</strong>
                  <p class="text-muted">{{ company_info.job_title }}</p>
              </div>
              <div class="col-md-6 mb-3">
                <strong>School/ Faculty:</strong>
                <p class="text-muted">{{ company_info.sch_fac_dir }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Department:</strong>
                  <p class="text-muted">{{ company_info.dept }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Directorate:</strong>
                  <p class="text-muted">{{ company_info.directorate }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Staff Category:</strong>
                  <p class="text-muted">{{ company_info.staff_cat }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Contract Type:</strong>
                  <p class="text-muted">{{ company_info.contract }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Official Email:</strong>
                  <p class="text-muted">{{ company_info.email }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Personal Email:</strong>
                  <p class="text-muted">{{ staff.email_address }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Telephone:</strong>
                  <p class="text-muted">{{ staff.active_phone }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>SSNIT No.:</strong>
                  <p class="text-muted">{{ staff.ssnitno }}</p>
              </div>
              <div class="col-md-6 mb-3">
                  <strong>Identification:</strong>
                  <p class="text-muted">{{ staff.idtype }} ({{ staff.gcardno }})</p>
              </div>
          </div>
        </div>
      </div>
    </div>    
  </div>


<!-- Include Bootstrap JS and Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
   // Loop through and show all the toasts for each message
   {% for message in messages %}
      const toastEl{{ forloop.counter }} = document.getElementById('toast{{ forloop.counter }}');
      const toast{{ forloop.counter }} = new bootstrap.Toast(toastEl{{ forloop.counter }});
      toast{{ forloop.counter }}.show();
   {% endfor %}
</script>

{% include "partials/_footer.html" %}
