{% comment %} {% include "partials/_staffdetails_newsidebar.html" %} {% endcomment %}
{% include "partials/_topnav.html" %} 
{% load static %}

{% if messages %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
          <div class="toast-header text-white bg-{{ message.tags }}">
            <strong class="me-auto">{{ message.tags|title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-white">
            {{ message }}
          </div>
    </div>
    {% endfor %}
</div>
{% endif %}


<div class="row">
    <div class="col-md-3 mt-4">
        {% include "partials/_staffdetails_sidebar.html" %} 
    </div>

    <div class="col-md-8 mt-3 py-5 ">
        <div class="mt-5">
            <div class="card shadow-sm">
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="my-3 text-primary"><strong>Relief for {{ staff.title }} {{ staff.fname }} {{ staff.lname }} ({{ staff.staffno }})</strong></h5>
                        
                        {% if staff.staff_pix %}
                            <img src="{{ staff.staff_pix }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 110px; width: 110px; object-fit: cover;"> 
                        {% else %}
                            <img src="https://firebasestorage.googleapis.com/v0/b/cu-hr-caf00.firebasestorage.app/o/staff_pictures%2Ffav.png?alt=media&token=97abe448-d881-4cc1-92cc-e5f65cbb0244" alt="Avatar" style="width: 110px; height: 110px" class="img-fluid rounded-circle" />
                        {% endif %}
                    </div>
                 
                    <h5><b>Staff Relief ({{staff_relief_count}})</b></h5>

                    <!-- Check if there are any leave transactions -->
                    {% if staff_reliefs %}
                        <table class="table table-striped mb-5">
                            <thead>
                                <tr>
                                    <th>Relief Type</th>
                                    <th>Amount (Ghc)</th>
                                    <th>Active</th>
                                    <th class="text-end">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for sr in staff_reliefs %}
                                <tr>
                                    <td>{{ sr.relief_type }}</td>
                                    <td>{{ sr.amount }}</td>
                                    <td>
                                        {% if sr.is_active %}
                                            <span class="badge bg-success">True</span>
                                        {% else %}
                                            <span class="badge bg-secondary">False</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-staff-relief' staff.staffno sr.id %}"></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No Relief for this staff.</p>
                    {% endif %}


                    <!-- Leave Request Form -->
                    <h5><b>Add Staff Relief</b></h5>
                    <form action="" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="row g-3 mb-4">
                            
                            <input type="text" class="form-control" id="staffno" name="staffno" value="{{ staff.staffno }}" readonly hidden>

                            <div class="col-md-4">
                                <label class="form-label" for="relief_type">Relief Type</label>
                                <select name="relief_type" class="form-control" required>
                                    <option selected="true" value="" disabled>-----Select------</option>
                                    {% for rt in relief_types %}
                                        <option value="{{ rt.name }}" {% if rt.name == staff_relief.relief_type %}selected{% endif %}>{{ rt.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    
                            <div class="col-md-4">
                                <label for="amount" class="form-label">Amount (Ghc)</label>
                                <input type="number" class="form-control" step="0.01" name="amount" {% if staff_relief %} value="{{ staff_relief.amount }}" {% endif %}>
                            </div>

                            <div class="col-md-4 mb-3">
                                <div class="form-group">
                                    <label for="is_active" class="col-form-label">Activate Now ?</label>
                                    <input type="checkbox" name="is_active" value="TRUE" {% if staff_relief and staff_relief.is_active %} checked {% endif %}>
                                </div>
                            </div>
                  
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-secondary  me-2">Finish</a>
                            <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function clampInput(selector) {
        document.querySelector(selector).addEventListener('input', function () {
            let val = parseFloat(this.value);
            if (val > 100) {
                alert("Value cannot exceed 100.");
                this.value = 100;
            } else if (val < 0) {
                this.value = 0;
            }
        });
    }
    
    clampInput('input[name="percentage_of_basic"]');
</script>