{% load static %} 
{% include "partials/_topnav.html" %} 


  {% if messages %}
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        {% for message in messages %}
        <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
              <div class="toast-header text-white bg-{{ message.tags }}">
                <strong class="me-auto">{{ message.tags|title }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
              </div>
              <div class="toast-body text-white">
                {{ message }}
              </div>
        </div>
        {% endfor %}
    </div>
  {% endif %}

<div class="row">
      <div class="row">
        <div class="col-md-3 mt-5">
          {% include "partials/_staffdetails_sidebar.html" %} 
        </div>
      
      <div class="col-md-9">
        <div class="card pt-5 mt-5 p-5">
          <table class="table table-sm table-hover">
                <tr><th>Staff Number</th><td>{{ staff.staffno }}</td></tr>
                <tr><th>Gender</th><td>{{ staff.gender }}</td></tr>
                <tr><th>Home Town</th><td>{{ staff.home_town }}</td></tr>
                <tr><th>Region</th><td>{{ staff.region }}</td></tr>
                <tr><th>Date of Birth</th><td>{{ staff.dob }}</td></tr>
                <tr><th>Date of Appointment</th><td>{{ company_info.doa }}</td></tr>
                <tr><th>Date of Expiration</th><td>{{ company_info.doe }}</td></tr>
                <tr><th>Highest Educational Qualification</th><td>{{ staff.heq }} in {{ staff.study_area}}</td></tr>
                <tr><th>Highest Professional Qualification</th><td>{{ staff.hpq }}</td></tr>
                <tr><th>Job Title</th><td>{{ company_info.job_title }}</td></tr>
                <tr><th>Department</th><td>{{ company_info.dept }}</td></tr>
                <tr><th>Directorate</th><td>{{ company_info.directorate }}</td></tr>
                <tr><th>Staff Category</th><td>{{ company_info.staff_cat }}</td></tr>
                <tr><th>Contract Type</th><td>{{ company_info.contract }}</td></tr>
                <tr><th>Official Email</th><td>{{ company_info.email }}</td></tr>
                <tr><th>Personal Email</th><td>{{ staff.email_address }}</td></tr>
                <tr><th>Telephone</th><td>{{ staff.active_phone }}</td></tr>
                <tr><th>SSNIT No.</th><td>{{ staff.ssnitno }}</td></tr>
                <tr><th>Ghana Card No.</th><td>{{ staff.gcardno }}</td></tr>
                
          </table>
              
        </div>
      </div>
    </div>
</div>


<!-- Include Bootstrap JS and Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
   // Loop through and show all the toasts for each message
   {% for message in messages %}
      const toastEl{{ forloop.counter }} = document.getElementById('toast{{ forloop.counter }}');
      const toast{{ forloop.counter }} = new bootstrap.Toast(toastEl{{ forloop.counter }});
      toast{{ forloop.counter }}.show();
   {% endfor %}
</script>

{% include "partials/_footer.html" %}
