{% comment %} {% include "partials/_staffdetails_newsidebar.html" %} {% endcomment %}
{% include "partials/_topnav.html" %} 
{% load static %}

{% if messages %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    {% for message in messages %}
    <div id="toast{{ forloop.counter }}" class="toast {{ message.tags }} bg-{{ message.tags }}" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="10000">
          <div class="toast-header text-white bg-{{ message.tags }}">
            <strong class="me-auto">{{ message.tags|title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body text-white">
            {{ message }}
          </div>
    </div>
    {% endfor %}
</div>
{% endif %}


<div class="row">
    <div class="col-md-3 mt-4">
        {% include "partials/_staffdetails_sidebar.html" %} 
    </div>

    <div class="col-md-8 mt-3 py-5 ">

            <div class="card shadow-sm">
                <div class="card-body">

                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <h5 class="my-3 text-primary"><strong>Income for {{ staff.title }} {{ staff.fname }} {{ staff.lname }} ({{ staff.staffno }})</strong></h5>
                        
                        {% if staff.staff_pix %}
                            <img src="{{ staff.staff_pix.url }}" alt="{{ staff.fname }} {{ staff.lname }}'s picture" class="img-fluid rounded-circle" style="height: 110px; width: 110px; object-fit: cover;"> 
                        {% else %}
                            <img src="/media/images/fav.png" alt="Avatar" style="width: 110px; height: 110px" class="img-fluid rounded-circle" />
                        {% endif %}
                    </div>
                 
                    <h5><b>Staff Income {{staff_income_count}}</b></h5>

                    <!-- Check if there are any leave transactions -->
                    {% if staff_incomes %}
                        <table class="table table-striped mb-5">
                            <thead>
                                <tr>
                                    <th>Income Type</th>
                                    <th>Amount/Percentage (Ghc)</th>
                                    <th>Start Month</th>
                                    <th>End Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for si in staff_incomes %}
                                <tr>
                                    <td>{{ si.income_type }}</td>
                                    <td>
                                        {% if si.amount %}
                                            {{ si.amount }}
                                        {% elif si.percentage_of_basic %}
                                            {{ si.percentage_of_basic }}%
                                        {% endif %}
                                    </td>
                                    <td>{{ si.start_month }}</td>
                                    <td>{{ si.end_month }}</td>
                                    <td class="text-end">
                                        <a class="btn btn-sm btn-info bi-pencil-square" href="{% url 'edit-staff-income' staff.staffno si.id %}"></a>
                                        {% comment %} <a class="btn btn-sm btn-info" href="{% url 'edit-school' sch.id %}"><i class="fas fa-fw fa-pen"></i></a> {% endcomment %}

                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No income for this staff.</p>
                    {% endif %}


                    <!-- Leave Request Form -->
                    <h5><b>Add Staff Income</b></h5>
                    <form action="" method="POST" enctype="multipart/form-data"> 
                        {% csrf_token %}
                        <div class="row g-3 mb-4">
                            
                            <input type="text" class="form-control" id="staffno" name="staffno" value="{{ staff.staffno }}" readonly hidden>

                            <div class="mb-3 col-md-4">
                                <label class="form-label" for="income_type">Income Type</label>
                                <select name="income_type" class="form-control" required>
                                    <option selected="true" value="" disabled>-----Select------</option>
                                    {% for it in income_types %}
                                        <option value="{{ it.name }}" {% if it.name == staff_income.income_type %}selected{% endif %}>{{ it.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    
                            <div class="col-md-4 mb-3">
                                <label for="amount" class="form-label">Amount (Ghc)</label>
                                <input type="number" step="0.01" class="form-control" name="amount" {% if staff_income %} value="{{ staff_income.amount }}" {% endif %}>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="percentage_of_basic" class="form-label">Percentrage on Basic(%)</label>
                                <input type="number" class="form-control" name="percentage_of_basic" {% if staff_income %} value="{{ staff_income.percentage_of_basic }}" {% endif %}>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="start_month" class="form-label">Start Month</label>
                                <input type="date" class="form-control" name="start_month" {% if staff_income %} value="{{ staff_income.start_month|date:"Y-m-d" }}" {% endif %} required>
                            </div>
                            
                            <div class="col-md-3 mb-3">
                                <label for="end_month" class="form-label">End Month</label>
                                <input type="date" class="form-control" name="end_month" {% if staff_income %} value="{{ staff_income.end_month|date:"Y-m-d" }}" {% endif %} required>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="income_entitlement" class="form-label">Income Entitlement (%)</label>
                                <input type="number" class="form-control" name="income_entitlement" {% if staff_income %} value="{{ staff_income.income_entitlement }}" {% else %} value="100" {% endif %}>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="income_description" class="form-label">Income Description</label>
                                <textarea name="income_description" class="form-control">{% if staff_income %} {{ staff_income.income_description }}  {% endif %}</textarea>
                            </div>
                  
                        </div>

                        <div class="d-flex justify-content-end mt-4">
                            <button type="submit" class="btn btn-info me-2">Add</button>
                            <a href="{% url 'staff-details' staff.staffno %}" class="btn btn-success">Finish</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


